@model IEnumerable<FinalMvc.Models.Venta>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 style="font-family:serif"> VENTAS</h1>
</div>

<div class="container">

    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["Mensaje"]
        </div>
    }

    <div class="row">
        <div class="col-sm-3">
            <a asp-controller="Home" asp-action="Index" asp-area="" class="btn btn-outline-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                </svg>
            </a>
        </div>
        <div class="col-sm-6">
@*            <form asp-action="Index" asp-controller="Ventas">
                Buscar: <input type="text" name="Buscar" class="form-text" placeholder="Id Venta"/>
                <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
            </form>*@

            @*Este Buscador no tiene funcionalidad por la diferencia de los index*@
        </div>
        <div class="col-sm-3">
            <a class="btn btn-success d-block btn-info" asp-action="Create" asp-controller="Ventas">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                    <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
                </svg> Nueva Venta
            </a>
        </div>
    </div>

    <hr />
    <div class="row">

        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.IdVenta)</td>
                        <td>@Html.DisplayNameFor(m => m.FechaVenta)</td>
                        <td>@Html.DisplayNameFor(m => m.Cliente)</td>
                        <td>@Html.DisplayNameFor(m => m.TotalVenta)</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdVenta</td>
                            <td>@item.FechaVenta</td>
                            <td>
                                 @item.Cliente.CedulaCliente -
                                 @item.Cliente.NombreCliente
                                 @item.Cliente.ApellidoCliente
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.TotalVenta)</td>
                            <td>
                                <a asp-controller="Ventas" asp-action="Details" asp-route-id="@item.IdVenta" class="btn btn-outline-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No existen Ventas Registradas</p>
        }
    </div>
</div>